/*------------------------------------------*/
/* 3. Hero Section */
/*------------------------------------------*/

.hero {
	padding-top: 55px;
}

/* .hero_lips {
	background: url(../img/hero-bg.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.hero__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.hero__logo img {
	flex: 1 1 auto;
	width: 100%;
	max-width: 500px;
}

.hero .hero-text,
h2 {
    font-size: 30px;
	color: #ffffff;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.button {
	width: 120px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	border: 1px solid #0cae03;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	color: #0cae03;
	padding: 10px;
	font-weight: 600;
}


.button:hover {
	color: #000;
	background-color: #fff;
	border: #fff;
}


/* let's give it chanse and create Terminal */
.TerminalCursor_cursor__UisQi {
	display: inline-block;
	width: 10px;
	height: 1em;
	background-color: #53c90f;
	margin-left: 1px;
	position: relative;
	vertical-align: middle;
	bottom: 0.2em;
	animation: TerminalCursor_blink__ei3sl 1s infinite;
}

@keyframes TerminalCursor_blink__ei3sl {

	0%,
	to {
		background-color: #53c90f;
	}

	50% {
		background-color: transparent
	}
}