/*------------------------------------------*/
/* 8. Home Contact Section */
/*------------------------------------------*/

.contact-section .section-title {
	text-align: left;
	margin-bottom: 40px;
}

.cs-text .ct-address span {
	font-size: 16px;
	color: #6a6b7c;
}

.cs-text .ct-address p {
	font-size: 18px;
	color: #171822;
	line-height: 30px;
	margin-top: 8px;
}

.cs-text ul {
	margin-bottom: 22px;
}

.cs-text ul li {
	font-size: 18px;
	color: #171822;
	line-height: 36px;
	list-style-type: none;
	display: inline-block;
	margin-right: 42px;
}

.cs-text ul li:last-child {
	margin-right: 0;
}

.cs-text ul li span {
	font-size: 16px;
	color: #6a6b7c;
	display: block;
}

.cs-text .ct-links span {
	font-size: 16px;
	color: #6a6b7c;
}

.cs-text .ct-links p {
	font-size: 18px;
	color: #171822;
	line-height: 30px;
	margin-top: 8px;
}

.cs-map {
	height: 400px;
	-webkit-box-shadow: 0px 12px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 12px 30px rgba(11, 12, 48, 0.15);
}

.cs-map iframe {
	width: 100%;
}